In [11]:
import sqlite3

con = sqlite3.connect("firstDB.db", check_same_thread=False)
cursor = con.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS people (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER
                )''')
cursor.execute("INSERT INTO people (name, age) VALUES ('Tom', 38)")

OperationalError: database is locked

In [ ]:
# данные для добавления
con = sqlite3.connect("firstDB.db")
cursor = con.cursor()
people = [("Sam", 28), ("Alice", 33), ("Kate", 25)]
cursor.executemany("INSERT INTO people (name, age) VALUES (?, ?)", people)

OperationalError: database is locked

In [12]:
import sqlite3

# Создание подключения к базе данных
conn = sqlite3.connect('example.db')

# Создание курсора для выполнения запросов
cursor = conn.cursor()

# Создание таблицы "users"
cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    email TEXT
                )''')

# Создание таблицы "orders"
cursor.execute('''CREATE TABLE IF NOT EXISTS orders (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    user_id INTEGER,
                    product TEXT,
                    FOREIGN KEY (user_id) REFERENCES users(id)
                )''')

# Вставка данных в таблицу "users"
cursor.execute("INSERT INTO users (name, email) VALUES ('Alice', 'alice@example.com')")
cursor.execute("INSERT INTO users (name, email) VALUES ('Bob', 'bob@example.com')")

# Вставка данных в таблицу "orders"
cursor.execute("INSERT INTO orders (user_id, product) VALUES (1, 'Product A')")
cursor.execute("INSERT INTO orders (user_id, product) VALUES (2, 'Product B')")

# Выполнение запроса для объединения данных из обеих таблиц
cursor.execute("SELECT users.name, orders.product FROM users INNER JOIN orders ON users.id = orders.user_id")

# Получение результатов
results = cursor.fetchall()
print(results)

# Закрытие подключения
conn.close()

[('Alice', 'Product A'), ('Bob', 'Product B')]

In [13]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute("UPDATE users SET email = (SELECT email FROM orders WHERE orders.user_id = users.id) WHERE id = 1")
conn.commit()
conn.close()

In [14]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute("DELETE FROM users WHERE id IN (SELECT user_id FROM orders WHERE product = 'Product B')")
conn.commit()
conn.close()

In [15]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')
# Вставка данных в таблицу "employees"
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Alice', 'HR', 50000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Bob', 'Sales', 60000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Charlie', 'HR', 55000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('David', 'IT', 65000)")

# Выполнение запроса и группировка данных по столбцу "department"
cursor.execute("SELECT department, COUNT(*), AVG(salary) FROM employees GROUP BY department")

# Получение результатов
results = cursor.fetchall()
for row in results:
    print(row)

# Закрытие подключения
conn.close()

('HR', 2, 52500.0)
('IT', 1, 65000.0)
('Sales', 1, 60000.0)

In [16]:
import json

conn = sqlite3.connect('exmple.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')
# Вставка данных в таблицу "employees"
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Alice', 'HR', 50000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Bob', 'Sales', 60000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('Charlie', 'HR', 55000)")
cursor.execute("INSERT INTO employees (name, department, salary) VALUES ('David', 'IT', 65000)")

cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
print(rows)
result = []
for row in rows:
    result.append({
        "id": row[0],
        "name": row[1],
        "department": row[2],
        "salary": row[3]
    })
json_data = json.dumps(result, indent=4)
print(json_data)
conn.close()

[(1, 'Alice', 'HR', 50000), (2, 'Bob', 'Sales', 60000), (3, 'Charlie', 'HR', 55000), (4, 'David', 'IT', 65000)]
[
    {
        "id": 1,
        "name": "Alice",
        "department": "HR",
        "salary": 50000
    },
    {
        "id": 2,
        "name": "Bob",
        "department": "Sales",
        "salary": 60000
    },
    {
        "id": 3,
        "name": "Charlie",
        "department": "HR",
        "salary": 55000
    },
    {
        "id": 4,
        "name": "David",
        "department": "IT",
        "salary": 65000
    }
]

In [17]:
json_data = '''
[
    {
        "id": 1,
        "name": "Alice",
        "department": "HR",
        "salary": 50000
    },
    {
        "id": 2,
        "name": "Bob",
        "department": "Sales",
        "salary": 60000
    },
    {
        "id": 3,
        "name": "Charlie",
        "department": "HR",
        "salary": 55000
    }
]
'''
data = json.loads(json_data)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    department TEXT,
                    salary INTEGER
                )''')

for row in data:
    cursor.execute("INSERT INTO employees (id, name, department, salary) VALUES (?, ?, ?, ?)", (row['id'], row['name'], row['department'], row['salary']))
conn.commit()
conn.close()